/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select {
		font-size: 15pt;
	}