<footer id="FOOTER_1">
	<div id="DIV_2">
		<div id="DIV_3">
			<div id="DIV_4">
				<ul id="UL_5">
					<li id="LI_6">
						<a href="http://blog.fossasia.org" id="A_7">Blog</a>
					</li>
					<li id="LI_8">
						<a href="http://github.com/fossasia" id="A_9">Github</a>
					</li>
					<li id="LI_10">
						<a href="http://labs.fossasia.org/#projects" id="A_11">Projects</a>
					</li>
					<li id="LI_12">
						<a href="http://coc.fossasia.org/" id="A_13">Code of Conduct</a>
					</li>
					<li id="LI_14">
						<a href="./about" id="A_15">About</a>
					</li>
					<li id="LI_16">
						<a href="http://blog.fossasia.org/contact" id="A_17">Contact</a>
					</li>
					<li id="LI_18">
						<a href="./donate/" id="A_19">Donate</a>
					</li>
					<li id="LI_20">
						<a href="#top" id="A_21">Back To Top</a>
					</li>
				</ul>
			</div>
			<div id="DIV_22">
				 <span id="SPAN_23">About FOSSASIA</span>
				<p id="P_24">
					FOSSASIA develops Open Source software and hardware for conversational AIs, science and event management with a global developer community from its base in Asia. The organization organizes Open Technology events, runs coding programs and the <a href="https://codeheat.org/">#Codeheat</a> development contest. The annual FOSSASIA Summit is the premier Open Technology event in Asia for developers, contributors, start-ups, and technology companies. FOSSASIA was founded in 2009 by <a href="https://twitter.com/mariobehling">Mario Behling</a> and <a href="https://twitter.com/hpdang">Hong Phuc Dang</a>.
				</p>
			</div>
		</div>
	</div>
</footer>