</div>
	</div>
	<footer style="padding-top: 20px;" align="center" style="color: black">	
	    	<font color="white">
			<div class="container">
			<a href="https://www.facebook.com/fossasia/"><i align="left" style="padding: 3px; color: #000000; font-size: xx-large;" class="fa fa-facebook-official" aria-hidden="true"></i></a>
			<a href="https://twitter.com/fossasia"><i align="left" style="padding: 3px; color: #000000; font-size: xx-large;" class="fa fa-twitter-square" aria-hidden="true"></i></a>
			<a href="https://github.com/fossasia"><i align="left" style="padding: 3px; color: #000000;  font-size: xx-large;" class="fa fa-github-alt" aria-hidden="true"></i></a>
			</div>
		</font>
		       
	</footer>
</html>
