
	</div>
	</div>
	<footer style="padding-top: 20px; width: 893px !important;height: 100px !important;" align="center" style="color: black">
		
		<font color="white">
		<div class="container">
			<a href="https://www.facebook.com/fossasia/"><i align="left" style="padding: 3px;" class="fa fa-facebook-official" aria-hidden="true"></i></a>
			<a href="https://twitter.com/fossasia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i align="left" style="padding: 3px;" class="fa fa-twitter-square" aria-hidden="true"></i></a>
			<a href="https://github.com/fossasia"><i align="left" style="padding: 3px;" class="fa fa-github-alt" aria-hidden="true"></i></a>
		</div>
		</font>
		       
	</footer>
</html>
