<body>

<div id="wrapper">
<header>
	<nav>
	<label for="show-menu" class="show-menu">Show Menu</label>
	<input type="checkbox" id="show-menu" role="button" />
	<ul id="menu">
		<li><a href="index.html">Home</a></li>
		<li><a href="http://fossasia.org/">FOSSASIA 2015</a></li>
		<li><a href="about.html">About</a></li>
		<li>
			<a href="friday.html">Agenda &#65516;</a>
			<ul class="hidden">
				<li><a href="friday.html">Friday Opening and Keynotes</a></li>
				<li><a href="schedule.html">Schedule Friday</a></li>
				<li><a href="saturday.html">Saturday</a></li>
				<li><a href="sunday.html">Sunday hands on lab</a></li>
				<li><a href="schedule.pdf" target="_blank">PDF Download Schedule</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);">External &#65516;</a>
			<ul class="hidden">
				<li><a href="http://groups.google.com/group/fossasia">Mailing List</a></li>
				<li><a href="http://blog.fossasia.org/gsoc-ideas-2014">GSoS</a></li>
				<li><a href="http://blog.fossasia.org/">Blog</a></li>
				<li><a href="http://www.flickr.com/search/?q=fossasia2014&amp;m=tags">Flickr</a></li>
			</ul>
		</li>
		<li><a href="contact.html">Contact</a></li>
		<li><a href="venue.html">Venue</a></li>
		<li><a href="location.html">Location &amp; Visa</a></li>
	</ul>
	</nav>
</header>
<div id="content">
