<section class="top">
  <img alt="logo" class="logo" src="images/fossasia-logo-light.png"><br>
  <span>FOSSASIA OPEN DESIGN WEEKS ASIA 2011/2012<br/>2nd - 16th April 2012</span>
  <h1 class="main-header"><span>"The Open Conversational Web" at Asia's Premier Open Technology Event</span></h1>
  <div class="buttons-top">
    <a href="https://blog.fossasia.org/" class="btn-top btn-1">FOSSASIA Blog</a>
    <a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ" class="btn-top btn-2">Watch Talks</a>
  </div>
</section>
<section class="partners">
  <div class="container-flex">
    <div class="col col-1">

      <h1>Platinum Sponsor</h1>
      <a href="http://google.com/" target="_blank"><img alt="sponsor logo" class="sponsor" src="images/side_images/google.png" /></a>
      <a href="http://www.swedenabroad.com/en-GB/Embassies/Phnom-Penh/" target="_blank"><img alt="sponsor logo" class="sponsor" src="images/side_images/embassyofsweden.png"></a>

      <h1>International Contributor</h1>
      <a href="http://www.ilabsoutheastasia.org/" target="_blank"><img alt="sponsor logo" class="sponsor" src="images/side_images/InSTEDD.png"></a>

      <h1>Our Friends</h1>
      <a class="friends-href" href="http://icos.org.tw/" target="_blank">ICOS, Taiwan</a><br>
      <a class="friends-href" href="http://hpdang.com/" target="_blank">HPDang</a><br>
      <a class="friends-href" href="http://www.fisl.org.br/" target="_blank">FISL, Brazil</a><br>
      <a class="friends-href" href="http://www.fosdem.org/" target="_blank">FOSDEM, Brussels</a><br>
      <a class="friends-href" href="http://www.typo3cambodia.org/" target="_blank">Typo3 Cambodia</a><br>
      <a class="friends-href" href="http://perspektive89.com/" target="_blank">Perspektive'89</a><br>
      <a class="friends-href" href="http://libregraphics.asia/" target="_blank">Libre Graphics Images Indonesia</a><br>
      <a class="friends-href" href="http://mekongtours.info/" target="_blank">Fair Travel Mekong Tours Agency</a><br>
      <a class="friends-href" href="http://www.froscon.de/startseite/" target="_blank">FrOScon</a><br>
      <a class="friends-href" href="http://hackerspace.sg/" target="_blank">Hackerspace Singapore</a><br>
      <a class="friends-href" href="http://opendesign.asia/" target="_blank">Open Design &amp; Maker Weeks Asia</a><br>
      <a class="friends-href" href="http://foss.vn/" target="_blank">FOSS Education Vietnam</a><br>
      <a class="friends-href" href="http://meshcon.net/" target="_blank">MeshCon FashionTec Week</a><br>

    </div>
    <div class="col col-2">

      <h1>Organizing Partners</h1>
      <a href="http://mbm.asia/" target="_blank"><img alt="sponsor logo" class="sponsor" src="images/side_images/mbm_logo.png"></a>
      <a href="http://www.web-essentials.asia/" target="_blank"><img alt="sponsor logo" class="sponsor" src="images/side_images/webessentials.png"></a>
      <a href="http://open.org.kh/" target="_blank"><img alt="sponsor logo" class="sponsor" src="images/side_images/openinstitute.gif"></a>

      <h1>Host 2014</h1>
      <a href="http://norton-u.com/en/" target="_blank"><img alt="sponsor logo" class="sponsor" src="images/side_images/norton-university.png"></a>

    </div>
    <div class="col col-3">

      <h1>Diamond Sponsor</h1>
      <a href="http://www.ezecom.com.kh/" target="_blank"><img alt="sponsor logo" class="sponsor" src="images/side_images/ezecom.png"></a>

      <h1>Community Sponsor</h1>
      <a href="https://fedoraproject.org/" target="_blank"><img alt="sponsor logo" class="sponsor" src="images/side_images/fedora_0.png"></a>

      <h1>Gold Sponsor</h1>
      <a href="http://dai.com/our-work/projects/cambodia%E2%80%94development-innovations" target="_blank"><img alt="sponsor logo" class="sponsor" src="images/side_images/devinnovations.png"></a>

      <h1>Supporter</h1>
      <a href="http://www.typo3cambodia.org/" target="_blank"><img alt="sponsor logo" class="sponsor" src="images/side_images/KTUG_logo.png"></a>

    </div>

  </div>
</section>

<section class="subscribe-1">
  <div class="background-image-holder parallax-background bg-newsletter">
    <img class="background-image bg-newsletter" alt="Background Image" src="images/fossasia_group6.jpg">
  </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <div class="twitter-feed">
          <i class="icon social_twitter text-white"></i>
          <!-- For changing parameters of tweets-feed, please see https://github.com/fossasia/fossasia-loklak-webtweets/blob/gh-pages/README.md for the full documentation -->
          <div class="tweets-feed" data-count=3 data-query="fossasia"></div><br/>
          <span class="text-white">Follow <a href="http://twitter.com/fossasia" target="_self">@fossasia</a> for more updates</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="footer">
        <div class="col-sm-12">
          <div class="top-border"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="wrapper">
<div id="content">
  
