<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://0x48piraj.github.io/2014.fossasia.org/stylesheets/footer.css" rel="stylesheet">
<link rel="stylesheet" href="https://0x48piraj.github.io/2014.fossasia.org/stylesheets/pe-icon-7-stroke/css/helper.css" rel="stylesheet">
<link rel="stylesheet" href="https://0x48piraj.github.io/2014.fossasia.org/stylesheets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">

  {% include head.html %}

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% include side_bar.html %}
    {% include footer.html %}

  </body>

</html>
