<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ "/stylesheets/footer.css" | relative_url }}" rel="stylesheet">
<link rel="stylesheet" href="{{ "/stylesheets/pe-icon-7-stroke/css/helper.css" | relative_url }}" rel="stylesheet">
<link rel="stylesheet" href="{{ "/stylesheets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" | relative_url }}" rel="stylesheet">
  {% include head.html %}

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% include side_bar.html %}
    {% include footer.html %}

  </body>

</html>
